# === Python / Django ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
venv/
.venv/
db.sqlite3
bin/
lib/
lib64/
pyvenv.cfg

# Other
curriculum/

# Byte-compiled / cached files
*.pyc
*$py.class
# === IDEs and editors ===
.vscode/
.idea/  
